.prospective-hero-section {
    background: linear-gradient(180deg, #E7EEFF 0%, #FFF 57.21%);
}

.prospective-hero-gradient-text {
  background: linear-gradient(201deg, #F354F9 4.56%, #5491FC 61.04%, #1224FF 95.44%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1.75px;
}

/* Outputs Section */
.outputs-section {
  background: linear-gradient(180deg, #FFF -2.2%, #F7F3FF 100%);
}

.outputs-card {
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    box-shadow: 0 6px 20.6px 0 rgba(0, 0, 0, 0.08);
    padding: 32px;
}

.outputs-icon-container {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-outputs-icon-bg);
    border-radius: 10px;
}
