@font-face {
  font-family: Manrope;
  src: url(../../public/fonts/Manrope.ttf) format("truetype");
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #e6efff;
  --foreground: #1b1f3b;

  --primary: #003799;
  --primary-shade-1: #002880;

  --secondary: #0483fd;
  --secondary-shade-1: #5a68ff;

  --sky: #d8fdff;
}

@theme inline {
  /** Colors **/

  /* Foreground */
  --color-foreground: var(--foreground);

  /* Background */
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);

  /* Primary */
  --color-primary: var(--primary);
  --color-primary-shade-1: var(--primary-shade-1);

  /* Secondary */
  --color-secondary: var(--secondary);
  --color-secondary-shade-1: var(--secondary-shade-1);

  /* Sky */
  --color-sky: var(--sky);

  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1800px;
  --breakpoint-4xl: 1920px;
  --breakpoint-5xl: 2400px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Manrope, Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
}

header {
  max-width: 90%;
  margin: auto;
}

header {
  padding: 32px 0px;
}

section {
  padding: 32px 0px;
  margin: auto;
  max-width: 90%;
}

.blue-layout {
  overflow: hidden;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(4, 112, 253, 0.25) 0%,
    rgba(4, 130, 251, 0) 100%
  );
  height: 150vw;
  width: 100vw;
  border-radius: 50%;
  position: relative;
  top: -240px;
  right: -125px;
}

.purple-layout {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(65, 34, 255, 0.35) 0%,
    rgba(193, 188, 255, 0) 100%
  );
  height: 600px;
  width: 600px;
  border-radius: 50%;
  position: absolute;
  top: -150px;
  left: -300px;
  opacity: 50%;
}

.sky-layout {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(4, 245, 253, 0.35) 0%,
    rgba(193, 188, 255, 0) 100%
  );
  opacity: 75%;
  height: 100vw;
  width: 100vw;
  border-radius: 50%;
  position: absolute;
  top: 300px;
}

.hero-section-parrot {
  background-image: url("/backgrounds/hero-section-parrot.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  height: 1000px;
  width: 100%;
  position: absolute;
  top: 0px;
}

@supports (background-image: url("/backgrounds/hero-section-parrot.webp")) {
  .hero-section-parrot {
    background-image: url("/backgrounds/hero-section-parrot.webp");
  }
}

@supports (background-image: url("/backgrounds/hero-section-parrot.avif")) {
  .hero-section-parrot {
    background-image: url("/backgrounds/hero-section-parrot.avif");
  }
}

@media (min-width: 450px) {
  .sky-layout {
    top: 275px;
  }
}

/* sm */
@media (min-width: 640px) {
  header,
  section {
    max-width: 600px;
  }
  .blue-layout {
    top: -300px;
    right: -250px;
  }
  .purple-layout {
    left: -250px;
    top: -150px;
  }
}

/* md */
@media (min-width: 768px) {
  header,
  section {
    max-width: 650px;
  }
  .purple-layout {
    left: -150px;
  }
  .sky-layout {
    top: 150px;
  }
  .why-martlet-section-parrot {
    background-image: url("/backgrounds/why-martlet-section-parrot.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  @supports (
    background-image: url("/backgrounds/why-martlet-section-parrot.webp")
  ) {
    .why-martlet-section-parrot {
      background-image: url("/backgrounds/why-martlet-section-parrot.webp");
    }
  }

  @supports (
    background-image: url("/backgrounds/why-martlet-section-parrot.avif")
  ) {
    .why-martlet-section-parrot {
      background-image: url("/backgrounds/why-martlet-section-parrot.avif");
    }
  }
}

/* lg */
@media (min-width: 1024px) {
  header,
  section {
    max-width: 800px;
  }
  .blue-layout {
    top: -400px;
  }
  .purple-layout {
    height: 120vw;
    left: -100px;
  }
}

/* xl */
@media (min-width: 1280px) {
  header,
  section {
    max-width: 85%;
  }
  section {
    margin: 32px auto;
  }
  .blue-layout {
    width: 100vw;
    height: 100vw;
    right: -400px;
  }
  .purple-layout {
    height: 70vw;
    width: 70vw;
    left: -200px;
  }
  .sky-layout {
    width: 60vw;
    height: 60vw;
    margin: 20vw;
    top: 0px;
  }
  .hero-section-parrot {
    background-position-y: -100px;
  }
}

@media (min-width: 1440px) {
  .sky-layout {
    width: 75vw;
    height: 75vw;
    margin-left: 12.5vw;
    top: -200px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  header,
  section {
    max-width: 1400px;
  }
}

/* 3xl */
@media (min-width: 1800px) {
  header,
  section {
    max-width: 1600px;
  }
  .sky-layout {
    width: 60vw;
    height: 60vw;
    margin-left: 20vw;
  }
}

/* 4xl */
@media (min-width: 1920px) {
}

/* 5xl */
@media (min-width: 2400px) {
}
