.purple-circle,
.blue-circle,
.sky-circle,
.sky-circle-2 {
  width: 100vw;
  height: 100vw;
  aspect-ratio: 855 / 656;
  border-radius: 50%;
  position: absolute;
}

.purple-circle {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(65, 34, 255, 0.35) 20%,
    rgba(193, 188, 255, 0) 100%
  );
  top: -30vw;
  left: -50vw;
}

.blue-circle {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(4, 112, 253, 0.6) 20%,
    rgba(4, 130, 251, 0) 100%
  );
  bottom: -30vw;
  right: -50vw;
}

.sky-circle,
.sky-circle-2 {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(4, 245, 253, 0.35) 0%,
    rgba(192, 226, 255, 0) 100%
  );
  opacity: 25%;
}

.sky-circle {
  top: -40vw;
  right: -50vw;
}

.sky-circle-2 {
  bottom: -50vw;
  left: -50vw;
}

@media (min-width: 768px) {
  .purple-circle {
    top: -65vw;
  }
  .blue-circle {
    bottom: -65vw;
  }
}
@media (min-width: 1280px) {
  .purple-circle,
  .blue-circle,
  .sky-circle,
  .sky-circle-2 {
    width: 790px;
    height: 600px;
  }

  .purple-circle {
    top: -250px;
    left: -200px;
  }
  .blue-circle {
    bottom: -250px;
    right: -200px;
  }
}

@media (min-width: 1536px) {
  .purple-circle,
  .blue-circle,
  .sky-circle,
  .sky-circle-2 {
    width: 900px;
    height: 700px;
  }

  .purple-circle {
    top: -350px;
    left: -200px;
  }
  .blue-circle {
    bottom: -350px;
    right: -200px;
  }
}

@media (min-width: 1800px) {
  .purple-circle,
  .blue-circle,
  .sky-circle,
  .sky-circle-2 {
    width: 1050px;
    height: 850px;
  }
  .purple-circle {
    top: -450px;
  }
  .blue-circle {
    bottom: -450px;
  }
}
